/* Navigation Bar */
.nav-list {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #111;
}

.nav-item {
  list-style: none;
}

.nav-item a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.search-bar {
  padding: 5px;
  border-radius: 3px;
}

.user-section {
  position: relative;
}

.user-name {
  color: white;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-btn {
  display: block;
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  width: 100%;
}

.dropdown-btn:hover {
  background-color: #ff1c1c;
}

/* Close dropdown on clicking outside */
.user-section:hover .dropdown {
  display: block;
}

.login-button {
  background-color: #e50914;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
