/* MovieSlider.css */

.movie-card {
    position: relative;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .movie-info {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
  }
  
  .get-tickets-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .get-tickets-btn:hover {
    background-color: #cc0000;
  }
  